/*
========================================================================================
    Nextflow config file for running on laptop
========================================================================================
    Defines everything required to run the pipeline on a laptop.

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Laptop profile'
    config_profile_description = 'Minimal setting to allow for pipeline execution on local laptop'

    // set conda cacheDir
    conda.cacheDir = "$HOME/.nexflowCondaCacheDir/"

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 7
    max_memory = 12.GB
    max_time   = 6.h
}

conda {
    // set conda cacheDir
    cacheDir = "$HOME/.nexflowCondaCacheDir/"
}
